
@{
    
    ViewData["Title"] = "Create Combination";
    ViewData["Username"] = @Model.UserName;
    ViewData["Role"] = @Model.UserRole;
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>CreateCombination</h1>

